<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" type="text/css" />
        <title>Todo List</title>    
    </head>
    <body>
        <section class="section">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <div class="box">
                        <h1 class="title has-text-centered">
                            Plan_It
                        </h1>
                        <p class="subtitle has-text-centered">
                            Never forget a thing.
                        </p>
                        <div class="tabs">
                            <ul>
                                <li class="is-active"><a>Add task</a></li>
                                <li>
                                    <a href="/pending">Pending tasks</a>
                                </li>
                            </ul>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <textarea
                                    class="textarea"
                                    placeholder="What do you need to do?"
                                ></textarea>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Category</label>
                                    <div class="control">
                                        <div class="dropdown" onclick="showMenu(this)">
                                            <div class="dropdown-trigger">
                                                <button
                                                    class="button"
                                                    aria-haspopup="true"
                                                    aria-controls="dropdown-menu"
                                                >
                                                    <span class="dropdown-text">Select a category</span>
                                                    <span class="icon is-small">
                                                        <i
                                                            class="fas fa-angle-down"
                                                            aria-hidden="true"
                                                        ></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <div
                                                class="dropdown-menu"
                                                id="dropdown-menu"
                                                role="menu"
                                            >
                                                <div class="dropdown-content">
                                                    <%for (let category of categoryList){%>
                                                    <a class="dropdown-item" onclick="selectCategory(this)">
                                                        <%= category.name %>  
                                                    </a>
                                                    <%}%>
                                                    <!-- <hr
                                                        class="dropdown-divider"
                                                    />
                                                    <a
                                                        href="#"
                                                        class="dropdown-item"
                                                    >
                                                        Create new category
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Due Date</label>
                                    <div class="control">
                                        <input
                                            class="input date-picker"
                                            type="text"
                                            placeholder="Select a due date"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-text-centered">
                                <a class="button is-primary">
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/datepicker.min.js"></script>    
        <script src="./js/add.js"></script>
    </body>
</html>
